.card-image {
    background-image: url(./images/mobiledesktop.jpg);
    background-size: cover;
    background-color: transparent;
    height: 250px;
    border-radius: 10px;
  }

  .card-image:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
  }
  .card {
    background-color: transparent;
    border: solid 1px;
    border-color: greenyellow;
    border-radius: 10px;
    height: 500px;
  }